Wcf/WcfClient/Connected Services/ServiceReference/Service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Message">
    <xs:sequence>
      <xs:element minOccurs="0" name="Error" nillable="true" type="tns:MessageError" />
      <xs:element minOccurs="0" name="Status" type="tns:MessageStatus" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Message" nillable="true" type="tns:Message" />
  <xs:simpleType name="MessageError">
    <xs:restriction base="xs:string">
      <xs:enumeration value="AlreadyRegistred" />
      <xs:enumeration value="TooManyRegistred" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="MessageError" nillable="true" type="tns:MessageError" />
  <xs:simpleType name="MessageStatus">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Ok" />
      <xs:enumeration value="Error" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="MessageStatus" nillable="true" type="tns:MessageStatus" />
  <xs:simpleType name="WorkerState">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Standby" />
      <xs:enumeration value="Active" />
      <xs:enumeration value="Dead" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="WorkerState" nillable="true" type="tns:WorkerState" />
</xs:schema>